

p1 {
color: blue;
font-family: "sans-serif";
font-size:80px;
font-weight:500px;
background-color: #21F6D6;
border: black 20px;
margin: 20px;
padding: 600px 250px;
border: 1px solid black;


}

body {
  background: url("https://media2.giphy.com/media/jbKsZBIzlyA0g/giphy.gif") repeat-x;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  attachment: fixed;

}
